/* ProfilePage.css */
.profile-container {
    display: flex;
    flex-direction: column; /* Arrange header and content vertically */
    width: 100%; /* Or a specific width */
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center; /* Vertically align picture and info */
    margin-bottom: 20px; /* Space between header and content */
  }
  
  .profile-picture {    
    width: 70px;
    height: 70px;
    border-radius: 50%;  
    overflow: hidden;  
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd; 
    margin-right: 15px;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  
  .profile-info {
    display: flex;
    flex-direction: column; 
  }
  
  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-gym {
    font-size: 1rem;
    color: #777; 
  }
   
  .content-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      gap: 10px; 
  }
  
  .content-grid img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }